.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.charge {
  color: #ff0000;
}

.credit {
  color: green;
}

.small {
  font-size: 0.75rem;
}

.parent {
  border: 1px solid #232527;
  background-color: #232527;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center margin-right;
  
}
.child {
  display: inline-block;
  border: 1px solid #232527;
  padding: 4rem 4rem;
  vertical-align: middle;
  /* margin-right: 50%;  */
}
mark {
  background-color: #644611;
  color: rgb(255, 255, 255);
}

marker{
  background-color: #0f671c;
  color: rgb(255, 255, 255);
}
.hidden{
  display: none;
}


